@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a>Home</a>
        <a>Talent Acqusition</a>
        <a>Service</a>
        <a>Contact Us</a>
        <a href="http://www.sourcepros.com" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
